body, html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  background: #f6f6f6;
}

.transition {
  transition: var(--transtion, all) var(--transtion-duration, .3s);
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sections {
  background: var(--bg-color);
  position: relative;

  // &:not(.j-active) & {}

  //&-pin {
  //  overflow: hidden;
  //  height: 100%;
  //  width: 100%;
  //  display: block;
  //  position: absolute;
  //}

  &-wrap {
    overflow: auto;
  }

  &-nav {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &-btn {
    --transtion-duration: 85ms;
    //--btn-bg: white;
    //--btn-color: black;
    @extend .transition;
    background: var(--bg, white);
    color: var(--color, black);
    padding: 0.9rem 1.2rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

  .from {
    position: absolute;
    width: 771px;
    height: 771px;
    left: -342px;
    top: -547px;

    background: radial-gradient(57.82% 57.82% at 82.47% 82.9%, rgba(0, 234, 205, 0.21) 0%, rgba(143, 93, 231, 0.11) 66.15%, rgba(44, 34, 92, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0;
  }

  .to {
    width: 1278px;
    height: 1278px;
    left: -462px;
    top: -397px;
  }

  &-graphics {
    z-index: 0;
    transition-timing-function: ease-in-out;

    @extend .transition;
    background: #fff;
    border-radius: 100%;
    position: absolute;

    background: radial-gradient(57.82% 57.82% at 82.47% 82.9%, rgba(0, 234, 205, 0.21) 0%, rgba(143, 93, 231, 0.11) 66.15%, rgba(44, 34, 92, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  }
}

.section {
  min-height: 100vh;
  // display: block;
  border-bottom: 1px dashed rgba(225, 225, 225, 0.18);

  &-wrap {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;

    * {
      border: 1px dashed rgba(225, 225, 225, 0.25);
    }
  }

  &.j-active &-content {

  }

  &-content {
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 100px;

    font-size: 4rem;

    &-item {
      align-self: center;

      &__right {
        overflow: hidden;
        padding: 10px;
      }

      &-card {
        padding: 210px 50px;
        background: var(--bg, white);
        color: var(--color, black);
      }
    }
  }
}